* {
  font-family: sans-serif;
  color: #666666;
}
h1 {
  text-align: center;
}
.examples-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 100%;
}
.examples-box div{
  /* margin: 50px; */
}
p {
  /* text-align: center; */
}
.btn {
  text-align: center;
  margin: 50px;
}
a {
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background: #45a049;
  border-radius: 5px;
}
a:hover {
  border: #45a049 1px solid;
  background: white;
  color: #45a049;

}

#form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=text], input[type=email], input[type=number], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;

}

@media only screen and (min-width: 700px) {
  body {
    margin: 50px 100px;
  }
}

.success-plz-wait {
  text-align: center;
}