<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <title>Document</title>
</head>
<body>
  <h1>BATCH SCREENSHOTS APP</h1>
  <p>Please enter the password to get to the app!</p>

  <form id="login-form" action="/login" method="POST">
    <input name="password" type="text">
    <button type="submit">submit</button>
  </form>
</body>
</html>