<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <title>Batch Screenshot Success</title>
</head>
<body>
  <h1>PPT IS ON IT'S WAY TO YOUR INBOX</h1>
  <p class="success-plz-wait">Please wait to see an email with a powerpoint file.</p>
  <p class="success-plz-wait">If you wrote a URL or ASID# incorrectly, the program will try to find the site you are looking for, otherwise you will see page not found images.</p>
  <div class="btn">
    <a href="/">Take more screenshots</a>
  </div>
</body>
</html>